1.- Para la base de datos utilizamos esta variable

MONGODB_URI = mongodb://0.0.0.0:27017/vet

2.- Para utilizar mailtrap
HOST_MAILTRAP=tus credenciales
PORT_MAILTRAP=tus credenciales
USER_MAILTRAP=tus credenciales
PASS_MAILTRAP=tus credenciales // SOLO DEJA VER UNA VES

// SMTP DE OUTLOOK
EMAIL_SERVICE = hotmail
HOST_MAILTRAP = smtp.office365.com
PORT_MAILTRAP = 587
USER_MAILTRAP = Tu correo de outlook
PASS_MAILTRAP = Tu password de outlook

JWT_SECRET = SDFGSJDF7246782CFBKJSDF